/* Global */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    touch-action: none;
    cursor: pointer;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;	
}

/* Github banner */
.github-banner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.ui-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
}

/* info */
.header {

    background-color: forestgreen; 
    color: white;
    padding: 10px;
}

.header > * {
    margin: 10px;
}

/* btn */
.button {
    background-color: dodgerblue; 
    color: white;
    cursor: pointer;
    padding: 10px;
}

.button > * {
    margin: 10px;
}
